* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.background {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgb(244, 232, 253);
}

.main-header {
  height: 3rem;
  box-shadow: 0px 2px 10px 1px rgb(192, 140, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: blueviolet;
}

.hamberger {
  margin-left: 1rem;
  cursor: pointer;
}

.hamberger__item {
  width: 1rem;
  border-bottom: 2px solid white;
  margin-bottom: 3px;
}

.my-name {
  margin-right: 1rem;
  color: white;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-color: blueviolet;
  transform: translateX(-100%);
  z-index: 2;
}

.x-icon {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  color: white;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.nav__links {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
}

.nav__link {
  margin: 3rem 0rem;
  overflow: hidden;
}

.nav__link a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  display: inline-block;
  transform: translateY(100%);
  font-weight: bold;
}

.nav__link a:hover,
.nav__link a:active {
  color: #ccc;
}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

section {
  width: 100%;
  padding-top: 4rem;
}

section h1 {
  color: blueviolet;
}

#home {
  text-align: center;
  padding-top: 6rem;
}

.profile-container {
  height: 10rem;
  width: 10rem;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url("./images/dummy-profile.jpg");
  background-size: cover;
  background-position: center;
}

.home__my-name {
  margin: 1rem 0rem 0.5rem 0rem;
  font-size: 2rem;
  color: blueviolet;
  font-weight: bold;
}

.home__my-job {
  font-size: 1rem;
  font-weight: bold;
}

.home__nav {
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.home__links {
  list-style: none;
  margin: 1rem 0rem;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.home__link {
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  color: blueviolet;
  font-weight: bold;
  cursor: pointer;
}

.home__link:hover,
.home__link:active {
  background-color: blueviolet;
  color: white;
}

.download {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: blueviolet;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.about__subtitle {
  text-align: center;
  font-weight: bold;
}

.about__title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin: 1rem 0rem;
  color: blueviolet;
}

.about__description {
  line-height: 1.5;
  width: 80%;
  text-align: center;
  margin: 2rem auto;
}

.image-container {
  text-align: center;
}

.dummy-profile {
  margin: 2rem 0rem;
  width: 10rem;
  border-radius: 1rem;
}

.information {
  font-weight: bold;
  color: blueviolet;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.information__list {
  margin-top: 1rem;
  margin-left: 2rem;
  list-style: none;
}

.information__item {
  margin: 1rem 0rem;
}
